{%  extends 'courseinfo/base.html' %}

{% block title %}
    Registration - {{ registration }}
{% endblock %}

{% block content %}
    <h2>{{ registration }}</h2>

    <section>
        <table>
            <tr>
               <th>Registration ID:</th>
                <td>{{ registration.registration_id}}</td>
            </tr>
            <tr>
               <th>Student:</th>
                <td>{{ registration.student }}</td>
            </tr>
            <tr>
               <th>Section:</th>
                <td>{{ registration.section }}</td>
            </tr>
        </table>
    </section>

{% endblock %}